*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/bg.png);
}
.navbar-brand{
    margin: auto !important;
    font-size: 25px !important;
    font-weight: bold;
}
.offcanvas-body h5{
    text-decoration: underline #980444;
}

.reseau i {
    color: #980444;
    /* background: url(/assets/images/logo.png);
    background-clip: texte;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 70px;
}
.reseaux i
{
    color: #980444;
}
.banner img{
    display: flex;
    margin: -30px auto;
    width: 80%;
}
footer{
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer img{
    height: 80px;
    width: 80px;
}
.categories{
    display: flex;
    justify-content: center;
}

.categories img{
    margin: 0 20px 50px 20px;
    border:solid 5px #980444;
    display: flex;
    justify-content: center;
}
.categories h5{
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline #980444;
}